/SistemaResidenciasDatos/target/
/Datos/SistemaResidenciasDatos/target/
/SistemaResidencias/Datos/SistemaResidenciasDatos/target/
/SistemaResidencias/Negocios/dto_negocios/target/
/SistemaResidencias/Negocios/objetos_negocio/target/
/SistemaResidencias/Negocios/negocios_AdministradorResidentes/target/
/SistemaResidencias/Negocios/negocios_AdministradorHabitaciones/target/
/SistemaResidencias/Negocios/SistemaResidenciasNegocio/target/
/SistemaResidencias/Presentacion/SistemaResidenciasMain/target/
